<nav class="custom-nav row">
  <div class="col-10" style="margin: auto">
    <div class="row">
      <span
        type="button"
        class="col-2"
        [routerLink]="['/first']"
        routerLinkActive="router-link-active"
      >
        First
      </span>
      <span
        type="button"
        class="col-2"
        [routerLink]="['/second']"
        routerLinkActive="router-link-active"
      >
        Second
      </span>
    </div>
  </div>
  <div class="col-2 text-end" style="margin: auto">
    <span>
      cart &nbsp;
      <i class="bi bi-cart4 position-relative" style="font-size: 18px">
        <span
          style="font-size: 10px"
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
        >
          {{itemsQuantity$ |  async}}
          <span class="visually-hidden">unread messages</span>
        </span>
      </i>
    </span>
  </div>
</nav>
