<div class="d-flex p-5">
  @for( item of cartItems|async; track item.id){
  <div class="card shadow" style="width: 20rem; margin-right: 3rem">
    <div class="imageContainer">
      <img src="{{ item.url }}" class="card-img-top banarImage" />
    </div>
    <div class="card-body mt-3">
      <div class="d-flex justify-content-between">
        <h5 style="line-height: 2">{{ item.name }}</h5>
        <div>
          <button
            type="button"
            style="font-weight: 900"
            class="btn btn-primary"
            (click)="updateCart(item)"
          >
            <span>Add To Card</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  }
</div>
