  .card-body {
    padding-top: 0;
    padding-bottom: 0;
  }

.imageContainer {
  width: 19rem;
  height: 300px;
  // margin: 30px auto;
}

.banarImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
